<% content_for :head do %>
  <% stylesheet 'report'%>  
<% end %>

<table id="task_view_table">
    <tr>
      <th class="list_header" colspan="4">
        <h2>Recent completions of task: <%= Task.find(@tasks.task_id).name %></h2>
      </th>
    </tr>
    <tbody id = "all_task_items">
  
		<%= render :partial => "task_items", :collection => @ShiftsTasks %>
    </tbody>
  </table>
<% form_remote_tag :url => { :action => 'display_task_items' } do %>
 <%= submit_tag "view more", :class => "view_more" %>
<% end %>
