development:
  adapter: mysql
  database: shifts_development
  username: root
  password: 
  pool: 5
  timeout: 5000

test:
  adapter: mysql
  database: shifts_test
  username: root
  password: 
  pool: 5
  timeout: 5000

production:
  adapter: mysql
  database: shifts_production
  username: root
  password: 
  pool: 5
  timeout: 5000
