<h3><%= label_tag 'Item' %></h3>
<%= collection_select(:data_object, :id, @data_objects_at_location, :id, :name, options ={:prompt => "Select an Object"}, :class =>'object') %><br/>


<%= observe_field('data_object_id',
:url => {:controller => :data_objects,
         :action => :update_form, 
         :layout => false},
:with => :value,          
:on => "change")%>
