<p>
	<h3><%= label_tag 'Location' %></h3>
	<%= collection_select(:location, :id, @locations, :id, :name, options ={:prompt => "Select a location"}) %><br/>
</p>

<%= observe_field('location_id',
:url => {:controller => :data_objects,
     	:action => :update_objects, 
     	:layout => false,
		:pvt => pvt},
:with => :value,          
:on => "change")%>