<p>
	<h3><%= label_tag 'Location' %></h3>
	<%= collection_select(:location, :id, @locations, :id, :name, {:include_blank => true}) %><br/>
</p>

<%= observe_field('location_id',
:url => {:controller => :data_objects,
     	:action => :update_objects, 
     	:layout => false,
		:admin => @admin,
		:private => @private,
		:public => @public},
:with => :value,          
:on => "change")%>