<% title "Help Request Form"%>

<p>
     <%= label_tag 'Location:' %><br />
		<%#= select(:location, :id, Location.all, :name, options ={:prompt => "Select a location"}) %>
     <%= collection_select(:location, :id, Location.all, :id, :name, options ={:prompt => "Select a location"}) %><br/>
 </p>

<%= observe_field('location_id',
:url => {:controller => :data_objects,
         :action => :update_public_form, 
         :layout => false},
:with => :value,          
:on => "change")%>

<div id = "data_objects_at_location">
<p>
	<%= render :partial => 'data_objects_at_location' %>
</p>
</div>

