<% title "Report a problem"%>

<body>
	
	<div id = 'object_location'>
		<p>
			<h3><%= render :partial => 'object_location'%>
		</p>
	</div>
	
	<div id = 'data_objects_at_location'>
		<p>
			<h3><%= label_tag 'Item' %></h3>
			<%= render :partial => 'data_objects_at_location'%>
		</p>
	</div>
		
	<p>	
		<div id = 'fields_for_object'></div>
	</p>

</body>
