<% title "Help Request Form"%>

<body>
	<p>
		<h3><%= label_tag 'Location' %></h3>
 		<%= collection_select(:location, :id, @locations, :id, :name, options ={:prompt => "Select a location"}) %><br/>
	</p>

	<%= observe_field('location_id',
	:url => {:controller => :data_objects,
         	:action => :update_public_form_first, 
         	:layout => false},
	:with => :value,          
	:on => "change")%>
	
	
	<div id = 'data_objects_at_location'>
		<p>
			<%= render :partial => 'data_objects_at_location' %>
		</p>
	</div>
		<p>	
			<div id = 'public_fields_for_object'></div>
		</p>

</body>