  <% content_for :left_nav do -%>
		<ul id="navigationList" class="sf-menu sf-vertical">
      <li><%= link_to "Shifts Schedule", shifts_path %></li>
      <li><%= link_to "My Profile", user_profile_path(current_user.login) %></li>
      <li><%= link_to "My Preferences", edit_user_config_path(current_user.user_config) %></li>
      <li><%= link_to "My Calendar Feeds", calendar_feeds_path %></li>
		</ul>
  <div id="contentNav">
  <% end -%>
